[submodule "buildroot"]
	path = buildroot
	url = git@github.com:starfive-tech/sft-riscv-buildroot.git
	branch = JH7100_VisionFive_devel
[submodule "linux"]
	path = linux
	url = git@github.com:starfive-tech/linux.git
	branch = visionfive-5.15.y-devel
