[submodule "buildroot"]
	path = buildroot
	url = git@github.com:Shang-QY/sec-buildroot.git
	branch = customized_rootfs
[submodule "linux"]
	path = linux
	url = git@github.com:Shang-QY/sec-linux.git
	branch = visionfive-5.15.y-devel
